<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento</title>
</head>
<body>
   <% result.forEach(name =>{ %>
       <h5><%= name.id %></h5>
   <%}) %> 
    <h3>Event</h3>
    <div>
        <form id="form_subscription" action="/subscription" method="POST">
            <div>
    <label for="event">evento</label>
    <input id="event" name="event" value="" placeholder="" />
    </div>
    <div>

        <button form="form_subscription">Submeter inscrição </button>
    </div>
</form>

</body>
</html>