<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Certificado</title>

   
	
       
		<link rel="stylesheet" href="/css/certificado.css" />
  
    
  </head>
 
    <body>
		<div id="content-container" >
			<div id="_bg__login" ></div>
			

			<div id="nav_bar"  >
				<div id="rectangle_1"  ></div>

			</div>
			<div id="rectangle_3"  ></div>
			<div id="fazer_login" >
				Fazer login
			</div>
			<div id="use_sua_conta_na_cert_now" >
				Use sua conta na Cert.now 
			</div>
			<div id="rectangle_5"  ></div>
			<div id="rectangle_6"  ></div>
			<div id="rectangle_2"  ></div>
			<div id="email_" >
				Email:
			</div>
			<div id="senha_" >
				Senha:
			</div>
			<div id="registrar" >
				Registrar
			</div>
			<div id="cert_now" >
				Cert.now
			</div>
			<div id="logar" >
				Logar
			</div>

		</div>
	</body>
</html>