<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Autorização</title>

</head>

<body>
    <h3>Listagem</h3>

    <table>
        <thead>
             
        <tr>
            <th>Permissão</th>
            <th>Usuário autorizado</th>
            

        </tr>
        </thead>
        <tbody>

        <tr>
            <% if(result.forEach(auth => {%>
                <th> <%= auth.permission.name %> </th>
                <th><%= auth.user.name %></th>

          
            
            <th>
            <form id='idAuthorizationDelete' method='POST' action='/admin/authorization/delete'>
            <input type='hidden' id='' name='deleteId' value='<%= auth.id %> ' />
            <button> Remover autorização</button>
            </form>
            </th>
        </tr>
        <%})) %> 

    </tbody>
</table>
<a href='/admin/authorization/new'> Criar nova autorização</a>

</body>
<script>
   if(document.getElementById('9').textContent == true){
       console.log('iiii')
       var q ='ok';
       //alert("jisjdi")

   }

   console.log(status)
 

   /// alert("idjdi")


</script>
</html>