<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Permissões</title>

</head>

<body>
    <h3>Listagem</h3>

    <table>
        <thead>
             
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
          
        </tr>
        </thead>
        <tbody>

        <tr>
            <% if(result.forEach(permissions => {%>
                <th> <%= permissions.name %> </th>
                <th><%= permissions.description %></th>
            <th>
            <form id='idPermissions' method='POST' action='/admin/permissions/delete'>
            <input type='hidden' id='' name='deleteId' value='<%-permissions.id%>' />
            <button> Deletar</button>
            </form>
            </th>
        </tr>
        <%})) %> 
        
    </tbody>
</table>
<a href='/admin/permissions/new'>criar nova permissão</a>

</body>
<script>
   if(document.getElementById('9').textContent == true){
       console.log('iiii')
       var q ='ok';
       //alert("jisjdi")

   }

   console.log(status)
 

   /// alert("idjdi")


</script>
</html>